@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('/css/main.css');
@import url('/css/footer.css');
@import url('/Docsite-css/docsite-codesnippet.css');
@import url('/Docsite-css/docsite-container.css');
@import url('/Docsite-css/docsite-sidebar.css');
@import url('/Docsite-css/docsite-typography.css');
@import url('/css/navigation.css');
@import url('/Components/Avatar/avatar.css');
@import url('/Components/Badge/badge.css');
@import url('/Components/Alert/alert.css');
@import url('/Components/Button/button.css');
@import url('/Components/card/card.css');
@import url('/Components/Image-Component/image.css');
@import url('/Components/Input/input.css');
@import url('/Components/TextUtilities/textutilities.css');
@import url('/Components/List/list.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    font-size: 1rem;
}

:root{
    --primary-color:#4F46E5;
    --secondary-color:#6C757D;
    --success-color:#198754;
    --danger-color:#DC3545;
    --warning-color:#FFC107;
    --hover-color:rgb(219,234,254,0.60);
    --docsite-border-color:#E6E6E6;
    --accent-color:#FD7014;
    --secondary-text-color:#fff;
    --light-black:rgb(0,0,0,0.80);
    --grey-color:#9A9A9A;
    --dark-grey:#343A40;
    

}

img{
    width: 100%;
    height: auto;
    display: inline-block;
}
