@import url('/css/budui.css');

.footer{
    background-color: var(--primary-color);
    text-align: center;
    padding: 2em 2em 4em 2em;
    color: #fff;
}

.footer-header{
    margin-bottom: 1em;
    font-weight: bold;
    word-spacing: 3px;
}

.social-icons{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
    margin-bottom: 1em;
}

.footer-list-item a{
    color: #fff;
}
.footer-copy{
    opacity: 0.80;
}

