.grid-container-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.grid-container-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}