<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/budui.css">
    <title>Bud UI | Docs</title>
</head>
<body>
    <header class="header">
        <nav class="nav-bar">
            <div class="nav-left">
                <div class="nav-brand">
                    <span class="brand-title">Bud UI Documentation</span>
                </div>

            </div>
            <div class="nav-right">
                <ul class="list-non-bulit list">
                    <li class="list-item">
                        <a href="/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="list-item link-active">
                        <a href="#" class="nav-link">Docs</a>
                    </li>
                </ul>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <div class="doc-site-container">
        <aside class="sidebar">
            <h2 class="sidebar-title">Components</h2>
            <ul class="sidebar-item-links">
                <li class="sidebar-item-link ">
                    <a href="/Components/Avatar/avatar.html">Avatar</a>
                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Badge/badge.html">Badge</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Alert/alert.html">Alert</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Button/button.html">Button</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/card/card.html">Card</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Image-Component/image.html">Image</a>


                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Input/input.html" >Input</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/TextUtilities/textutilities.html">Text Utilities</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/List/list.html">Lists</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Modal/modal.html">Modal</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Rating/rating.html">Rating</a>

                </li>

                <li class="sidebar-item-link">
                    <a href="/Components/Grid/grid.html" class="current-item">Grid</a>

                </li>
                
                <li class="sidebar-item-link">
                    <a href="/Components/Toast/toast.html">Toast</a>

                </li>

                <li class="sidebar-item-link">
                    <a href="/Components/Navigation/navigation.html">Navigation</a>

                </li>

            </ul>
        </aside>

        <section class="component-container">
            <div class="intro">
                <h1 class="component-title">Grid</h1>
                <p class="title-intro">
                  Grid is used to create complex responsive web layouts more easily and consistently.
                </p>
            </div>
            <h2 class="component-example">Example of grid with two columns</h2>
            <p class="about-component">
               
            </p>

            <div class="component-display-container">
                <div class="grid-container-2">
                    <div class="item-1">
                     <img src="/images/avatar1.jpg" alt="image">
                    </div>
                    <div class="item-2">
                        <img src="/images/avatar1.jpg" alt="image">
                    </div>
                </div>
            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/GS0Iz3TxTgWyFdeDqf5y"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            <h2 class="component-example">Example of grid with three columns</h2>
            <p class="about-component">
               
            </p>

            <div class="component-display-container">
                <div class="grid-container-3">
                    <div class="item-1">
                     <img src="/images/avatar1.jpg" alt="image">
                    </div>
                    <div class="item-2">
                        <img src="/images/avatar1.jpg" alt="image">
                    </div>
                    <div class="item-3">
                        <img src="/images/avatar1.jpg" alt="image">
                    </div>
                </div>
            </div>
            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/2tUdYRBxVkpQn1n49gL5"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

        </section>
    </div>


</body>
</html>