<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/budui.css">
    <title>Bud UI | Docs</title>
</head>

<body>
    <header class="header">
        <nav class="nav-bar">
            <div class="nav-left">
                <div class="nav-brand">
                    <span class="brand-title">Bud UI Documentation</span>
                </div>

            </div>
            <div class="nav-right">
                <ul class="list-non-bulit list">
                    <li class="list-item">
                        <a href="/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="list-item link-active">
                        <a href="#" class="nav-link">Docs</a>
                    </li>
                </ul>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <div class="doc-site-container">
        <aside class="sidebar">
            <h2 class="sidebar-title">Components</h2>
            <ul class="sidebar-item-links">
                <li class="sidebar-item-link ">
                    <a href="/Components/Avatar/avatar.html">Avatar</a>
                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Badge/badge.html">Badge</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Alert/alert.html">Alert</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Button/button.html">Button</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/card/card.html"  class="current-item">Card</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Image-Component/image.html">Image</a>


                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Input/input.html">Input</a>

                </li>

            </ul>
        </aside>

        <section class="component-container">
            <div class="intro">
                <h1 class="component-title">Card</h1>
                <p class="title-intro">
                    Cards are used to show user related data collectively.
                </p>
            </div>

            <h2 class="component-example">Example of vertical card</h2>
            <p class="about-component">
                To use vertical card.Copy the below code and your good to go.
            </p>
            <div class="component-display-container">

                <div class="vertical-card shadow-box">
                    <div class="card-image-container">
                        <img src="/images/plant1.jpg" alt="plant image">
                    </div>
                    <div class="card-text-container">
                        <div class="card-title">
                            <h3>Snake Plant</h3>
                            <span class="like-btn">
                                <i class="fas fa-heart"></i>
                            </span>
                        </div>
                        <div class="card-sub-title">
                            <p>Hybrid, pack of 1</p>
                        </div>
                      
                        <div class="card-action-container">
                            <button class="btn btn-primary">Add to cart</button>
    
                          <sapn class="share-icon">
                                <i class="fas fa-share-alt"></i>
                            </sapn>
     
                        </div>

                    </div>
                </div>

            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/924YAN9sLkBy3OSkNMVt"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            <h2 class="component-example">Example of Horizontal card</h2>
            <p class="about-component">
                To use horizontal card.Copy the below code and your good to go.
            </p>

            <div class="component-display-container">
                <div class="horizontal-card shadow-box">
                    <div class="card-image-container">
                        <img src="/images/plant1.jpg" alt="plant image">
                    </div>

                    <div class="card-text-container">
                        <div class="card-title">
                            <h3>Snake Plant</h3>
                          
                        </div>
                        <div class="card-sub-title">
                            <p>Hybrid, pack of 1</p>
                        </div>
                        <div class="about-card">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        

                        <div class="card-action-container">
                            <button class="btn btn-primary">Add to cart</button>

                        </div>
                    </div>


                </div>
            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/B8rF3FaG6W3xK9WFMgjt"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            <h2 class="component-example">Example of card with badge</h2>
            <p class="about-component">
                To use card with a badge.Copy the below code and your good to go.
            </p>

            <div class="component-display-container">
                <div class="vertical-card shadow-box">
                    <div class="card-image-container">
                        <img src="/images/plant1.jpg" alt="plant image">
                    </div>

                  <span class="badge bg-primary">Best Seller</span>

                    <div class="card-text-container">
                        <div class="card-title">
                            <h3>Snake Plant</h3>
                            <span class="like-btn">
                                <i class="fas fa-heart"></i>
                            </span>
                        </div>
                        <div class="card-sub-title">
                            <p>Hybrid, pack of 1</p>
                        </div>
                      
                        <div class="card-action-container">
                            <button class="btn btn-primary">Add to cart</button>
    
                          <sapn class="share-icon">
                                <i class="fas fa-share-alt"></i>
                            </sapn>
     
                        </div>

                    </div>
                </div>
            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/vCqpp1DwIbnbTi1iSGlx"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            <h2 class="component-example">Example of card with dismiss</h2>
            <p class="about-component">
                To use card with dismiss.Copy the below code and your good to go.
            </p>

            <div class="component-display-container">
                <div class="vertical-card shadow-box">
                    <div class="card-image-container">
                        <img src="/images/plant1.jpg" alt="plant image">
                    </div>

                     <span class="dismiss-btn">
                        <i class="fas fa-times"></i>
                     </span>

                    <div class="card-text-container">
                        <div class="card-title">
                            <h3>Snake Plant</h3>
                            <span class="like-btn">
                                <i class="fas fa-heart"></i>
                            </span>
                        </div>
                        <div class="card-sub-title">
                            <p>Hybrid, pack of 1</p>
                        </div>
                      
                        <div class="card-action-container">
                            <button class="btn btn-primary">Add to cart</button>
    
                          <sapn class="share-icon">
                                <i class="fas fa-share-alt"></i>
                            </sapn>
     
                        </div>

                    </div>
            </div>
            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/nRkb9WEd8Mmhm4X40v5Q"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            <h2 class="component-example">Example of card with text overlay</h2>
            <p class="about-component">
                To use card with text overlay card.Copy the below code and your good to go.
            </p>

            <div class="component-display-container">
                <div class="vertical-card shadow-box">
                    <div class="card-image-container">
                        <img src="/images/plant1.jpg" alt="plant image">
                    </div>
                    <div class="card-text-container">
                        <div class="overlay-item">
                            <div class="card-title ">
                                <h3>Snake Plant</h3>
                                
                            </div>
                            <div class="card-sub-title">
                                <p>Hybrid, pack of 1</p>
                            </div>
                        </div>
                       
                      
                        <div class="card-action-container">
                            <button class="btn btn-primary">Add to cart</button>
    
                          <sapn class="share-icon">
                                <i class="fas fa-share-alt"></i>
                            </sapn>
     
                        </div>

                    </div>
                </div>
            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/lCvasaUbPX3Dw9K2FBjO"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            
            <h2 class="component-example">Example of card with text only</h2>
            <p class="about-component">
                  To use card with text only.Copy the below code and your good to go.
                
            </p>

            <div class="component-display-container">
                <div class="text-only-card shadow-box">
                    <div class="card-text-container">
                        <div class="card-title">
                            <h3>Snake Plant</h3>
                        </div>
                        
                        <div class="card-sub-title">
                            <p>Hybrid, pack of 1</p>
                        </div>
                        <div class="about-card">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem Lorem ipsum dolor sit amet consectetur.
                        </div>
                      
                        <div class="card-action-container">
                            <button class="btn btn-primary">Add to cart</button>
                            <span class="like-btn-text-only">
                                <i class="fas fa-heart"></i>
                            </span>

                            <sapn class="share-icon-text-only">
                                <i class="fas fa-share-alt"></i>
                            </sapn>

                        </div>
                    </div>
                </div>
            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/KWASxxW1kkHmX8VyHKTN"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

        </section>
    </div>

    <script src="/Docsite-js/navigation.js"></script>
</body>

</html>