<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/budui.css">
    <title>Bud UI | Docs</title>
</head>

<body>
    <header class="header">
        <nav class="nav-bar">
            <div class="nav-left">
                <div class="nav-brand">
                    <span class="brand-title">Bud UI Documentation</span>
                </div>

            </div>
            <div class="nav-right">
                <ul class="list-non-bulit list">
                    <li class="list-item link-active">
                        <a href="/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="nav-link">Docs</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="doc-site-container">
        <aside class="sidebar">
            <h2 class="sidebar-title">Components</h2>
            <ul class="sidebar-item-links">
                <li class="sidebar-item-link ">
                    <a href="/Components/Avatar/avatar.html" class="current-item">Avatar</a>
                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Badge/badge.html">Badge</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Alert/alert.html">Alert</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Button/button.html">Button</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/card/card.html">Card</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Image-Component/image.html">Image</a>


                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Input/input.html">Input</a>

                </li>

            </ul>
        </aside>

        <section class="component-container">
            <div class="intro">
                <h1 class="component-title">Button</h1>
                <p class="title-intro">
                   Button components are used to interact with a system and take action by making selections.
                   Buttons are used when you want a user to act like submit, delete and cancel.
                </p>
            </div>

            <h2 class="component-example">Example of Primary button</h2>
            <p class="about-component">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus tempora delectus
                odio sint rerum dolorum in iure illo facere aperiam?
            </p>
            <div class="component-display-container">
                <button class="btn btn-primary">Primary-solid</button>
                <button class="btn btn-primary-outline">Primary-outline</button>
            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/NYg5NMLmB3XsBG8ywXdv"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            <h2 class="component-example">Example of Secondary button</h2>
            <p class="about-component">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus tempora delectus
                odio sint rerum dolorum in iure illo facere aperiam?
            </p>

            <div class="component-display-container">
                <button class="btn btn-secondary">Secondary-solid</button>
                <button class="btn btn-secondary-outline">Secondary-outline</button>
            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/NJJ4eIEDKuxBbj4t33Ml"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            <h2 class="component-example">Example of Disabled button</h2>
            <p class="about-component">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus tempora delectus
                odio sint rerum dolorum in iure illo facere aperiam?
            </p>

            <div class="component-display-container">
                <button class="btn btn-primary btn-disable">
                    Primary
                </button>

                <button class="btn btn-secondary btn-disable">
                    Secondary
                </button>
            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/BK7nCgbM0r4gM4iAc27Q"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            
            <h2 class="component-example">Example of Icon button</h2>
            <p class="about-component">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus tempora delectus
                odio sint rerum dolorum in iure illo facere aperiam?
            </p>

            <div class="component-display-container">

                <button class="icon-btn">
                    <i class="fas fa-home fa-2x"></i>
                </button>

                <button class="icon-btn">
                    <i class="fa fa-bars fa-2x"></i>
                </button>

                <button class="icon-btn">
                    <i class="fa fa-trash fa-2x"></i>
                </button>

            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/R6NXEX1xc3E0LHv6Gcp5"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            <h2 class="component-example">Example of Float action button</h2>
            <p class="about-component">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus tempora delectus
                odio sint rerum dolorum in iure illo facere aperiam?
            </p>

            <div class="component-display-container">
                <button class="float-action-btn">
                    <i class="fas fa-plus"></i>
                </button>

                <button class="float-action-btn">
                    <i class="fas fa-camera"></i>
                </button>

                <button class="float-action-btn">
                    <i class="fas fa-envelope-square"></i>
                </button>

                <button class="float-action-btn">
                    <i class="fas fa-pen"></i>
                </button>
            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/tuxcfN4YgQuGG7wamAYG"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            <h2 class="component-example">Example of link button</h2>
            <p class="about-component">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus tempora delectus
                odio sint rerum dolorum in iure illo facere aperiam?
            </p>

            <div class="component-display-container">
                <a href="#" class="link-btn">Primary link text</a>
            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/NY8M9OpJpmRSKDS3cjJB"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>


            

            

        </section>
    </div>
</body>

</html>