<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/budui.css">
    <title>Bud UI | Docs</title>
</head>

<body>
    <header class="header">
        <nav class="nav-bar">
            <div class="nav-left">
                <div class="nav-brand">
                    <span class="brand-title">Bud UI Documentation</span>
                </div>

            </div>
            <div class="nav-right">
                <ul class="list-non-bulit list">
                    <li class="list-item">
                        <a href="/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="list-item link-active">
                        <a href="#" class="nav-link">Docs</a>
                    </li>
                </ul>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <div class="doc-site-container">

        <aside class="sidebar">
            <h2 class="sidebar-title">Components</h2>
            <ul class="sidebar-item-links">
                <li class="sidebar-item-link ">
                    <a href="/Components/Avatar/avatar.html" class="current-item">Avatar</a>
                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Badge/badge.html">Badge</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Alert/alert.html">Alert</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Button/button.html">Button</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/card/card.html">Card</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Image-Component/image.html">Image</a>


                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Input/input.html">Input</a>

                </li>

            </ul>
        </aside>

        <section class="component-container">
            <div class="intro">
                <h1 class="component-title">Avatar</h1>
                <p class="title-intro"> Avatar Component can be used for graphical representation of a person through a
                    profile picture or image.</p>
            </div>
            <h2 class="component-example">Example of Image Avatar</h2>
            <p class="about-component">
                Avatar is available in 4 diffrent sizes. You need to include class avatar and for diffrent sizes you can add classes avatar-lg-size, avatar-md-size, avatar-sml-size and avatar-xsml-size.
            </p>
            <div class="component-display-container">
                <div class="avatar avatar-lg-size">
                    <img src="/images/avatar1.jpg" alt="avatar image">
                </div>
                <div class="avatar avatar-md-size">
                    <img src="/images/avatar1.jpg" alt="avatar image">
                </div>
                <div class="avatar avatar-sml-size">
                    <img src="/images/avatar1.jpg" alt="avatar image">
                </div>

                <div class="avatar avatar-xsml-size">
                    <img src="/images/avatar1.jpg" alt="avatar image">
                </div>

            </div>

            <div class="code-snippet-container">
                <iframe src="https://carbon.now.sh/embed/3wQTIoPk5ELkzEil4F8T" border:0; transform: scale(1);
                    overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </section>

    </div>

    <script src="/Docsite-js/navigation.js"></script>

</body>

</html>