<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/budui.css">
    <title>Bud UI | Docs</title>
</head>

<body>
    <header class="header">
        <nav class="nav-bar">
            <div class="nav-left">
                <div class="nav-brand">
                    <span class="brand-title">Bud UI Documentation</span>
                </div>

            </div>
            <div class="nav-right">
                <ul class="list-non-bulit list">
                    <li class="list-item">
                        <a href="/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="list-item link-active">
                        <a href="#" class="nav-link">Docs</a>
                    </li>
                </ul>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <div class="doc-site-container">
        <aside class="sidebar">
            <h2 class="sidebar-title">Components</h2>
            <ul class="sidebar-item-links">
                <li class="sidebar-item-link ">
                    <a href="/Components/Avatar/avatar.html">Avatar</a>
                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Badge/badge.html">Badge</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Alert/alert.html">Alert</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Button/button.html">Button</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/card/card.html">Card</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Image-Component/image.html">Image</a>


                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Input/input.html">Input</a>

                </li>

                <li class="sidebar-item-link">
                    <a href="/Components/TextUtilities/textutilities.html">Text Utilities</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/List/list.html" class="current-item">Lists</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Modal/modal.html">Modal</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Rating/rating.html">Rating</a>

                </li>

                <li class="sidebar-item-link">
                    <a href="/Components/Grid/grid.html">Grid</a>

                </li>
            </ul>
        </aside>

        <section class="component-container">
            <div class="intro">
                <h1 class="component-title">Lists</h1>
                <p class="title-intro">
                    Lists can be used to create navigation bar, stacked notifications, etc.
                </p>
            </div>
            <h2 class="component-example">Example of Ordered List with bullets</h2>
            <p class="about-component">
                To use ordered lists. Copy the code below and you are good to go.
            </p>

            <div class="component-display-container">
                <!-- List with numbers -->
                <ol class="list-container styled-list">
                    <li>List item with number</li>
                    <li>List item with number</li>
                    <li>List item with number</li>
                </ol>

                <!-- List with capital alphabets -->
                <ol class="list-container styled-list list-style-capital-alpha">
                    <li>List item with capital alphabets</li>
                    <li>List item with capital alphabets</li>
                    <li>List item with capital alphabets</li>
                </ol>

                <!-- List with capital reversed alphabets -->
                <ol class="list-container styled-list list-style-capital-alpha" reversed>
                    <li>List item with reversed capital alphabets</li>
                    <li>List item with reversed capital alphabets</li>
                    <li>List item with reversed capital alphabets</li>
                </ol>

                <!-- List with lower alphabets -->
                <ol class="list-container styled-list list-style-small-alpha">
                    <li>List item with lower alphabets</li>
                    <li>List item with lower alphabets</li>
                    <li>List item with lower alphabets</li>
                </ol>

                <!-- List with reversed lower alphabets -->
                <ol class="list-container styled-list list-style-small-alpha" reversed>
                    <li>List item with reversed lower alphabets</li>
                    <li>List item with reversed lower alphabets</li>
                    <li>List item with reversed lower alphabets</li>
                </ol>

                <!-- List with lower roman -->
                <ol class="list-container styled-list list-style-small-roman">
                    <li>List item lower roman</li>
                    <li>List item lower roman</li>
                    <li>List item lower roman</li>
                </ol>

                <!-- List with capital roman -->
                <ol class="list-container styled-list list-style-capital-roman">
                    <li>List item capital roman</li>
                    <li>List item capital roman</li>
                    <li>List item capital roman</li>
                </ol>
            </div>

            <div class="code-snippet-container">
                <iframe src="https://carbon.now.sh/embed/PfPTdaPQ9eTDnT4wRCJK"
                    style="border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <h2 class="component-example">Example of Unordered List with bullets</h2>
            <p class="about-component">
                To use unordered lists. Copy the below code and you are good to go.
            </p>
            <div class="component-display-container">
                <ul class="list-container styled-list">
                    <li>List item</li>
                    <li>List item</li>
                    <li>List item</li>
                </ul>

                <!-- List with circle bullets -->
                <ul class="list-container styled-list list-style-circle">
                    <li>List item</li>
                    <li>List item</li>
                    <li>List item</li>
                </ul>


                <!-- List with square bullets -->
                <ul class="list-container styled-list list-style-square">
                    <li>List item</li>
                    <li>List item</li>
                    <li>List item</li>
                </ul>
            </div>

            <div class="code-snippet-container">
                <iframe src="https://carbon.now.sh/embed/dsGNkRdrottmk831y67L"
                    style="border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <h2 class="component-example">Example of List with no bullets</h2>
            <p class="about-component">
                Lists can also be used without bullets. Add class list-style-none and you are good to go.
            </p>

            <div class="component-display-container">
                <ul class="list-container styled-list list-style-non">
                    <li>List item</li>
                    <li>List item</li>
                    <li>List item</li>
                </ul>
            </div>

            <div class="code-snippet-container">
                <iframe src="https://carbon.now.sh/embed/tqDEBJ9hHMIBqHJcYo6s"
                    style="border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <h2 class="component-example">Example of Stacked Notification List</h2>
            <p class="about-component">
                In stacked list any components can be addeed inside li. Copy the code below and you are good to go.
            </p>

            <div class="component-display-container">
                <ul class="stacked-list list-style-non">
                    <li>
                        <div class="horizontal-card shadow-box">
                            <div class="card-image-container">
                                <img src="/images/plant1.jpg" alt="plant image">
                            </div>

                            <div class="card-text-container">
                                <div class="card-title">
                                    <h3>Snake Plant</h3>

                                </div>
                                <div class="card-sub-title">
                                    <p>Hybrid, pack of 1</p>
                                </div>
                                <div class="about-card">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                                </div>


                                <div class="card-action-container">
                                    <button class="btn btn-primary">Add to cart</button>

                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="horizontal-card shadow-box">
                            <div class="card-image-container">
                                <img src="/images/plant1.jpg" alt="plant image">
                            </div>

                            <div class="card-text-container">
                                <div class="card-title">
                                    <h3>Snake Plant</h3>

                                </div>
                                <div class="card-sub-title">
                                    <p>Hybrid, pack of 1</p>
                                </div>
                                <div class="about-card">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                                </div>


                                <div class="card-action-container">
                                    <button class="btn btn-primary">Add to cart</button>

                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>

            <div class="code-snippet-container">
                <iframe src="https://carbon.now.sh/embed/EOwkgRjov4thzHlFk09o"
                    style="border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>


        </section>
    </div>
    <script src="/Docsite-js/navigation.js"></script>

</body>

</html>