<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/budui.css">
    <title>Bud UI | Docs</title>
</head>

<body>
    <header class="header">
        <nav class="nav-bar">
            <div class="nav-left">
                <div class="nav-brand">
                    <span class="brand-title">Bud UI Documentation</span>
                </div>

            </div>
            <div class="nav-right">
                <ul class="list-non-bulit list">
                    <li class="list-item">
                        <a href="/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="list-item link-active">
                        <a href="#" class="nav-link">Docs</a>
                    </li>
                </ul>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <div class="doc-site-container">
        <aside class="sidebar">
            <h2 class="sidebar-title">Components</h2>
            <ul class="sidebar-item-links">
                <li class="sidebar-item-link ">
                    <a href="/Components/Avatar/avatar.html">Avatar</a>
                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Badge/badge.html"  class="current-item">Badge</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Alert/alert.html">Alert</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Button/button.html">Button</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/card/card.html">Card</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Image-Component/image.html">Image</a>


                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Input/input.html">Input</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/TextUtilities/textutilities.html">Text Utilities</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/List/list.html">Lists</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Modal/modal.html">Modal</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Rating/rating.html">Rating</a>

                </li>

                <li class="sidebar-item-link">
                    <a href="/Components/Grid/grid.html">Grid</a>

                </li>

                <li class="sidebar-item-link">
                    <a href="/Components/Toast/toast.html">Toast</a>

                </li>
                
                <li class="sidebar-item-link">
                    <a href="/Components/Navigation/navigation.html">Navigation</a>

                </li>
            </ul>
        </aside>

        <section class="component-container">
            <div class="intro">
                <h1 class="component-title">Badges</h1>
                <p class="title-intro"> Badges are used to display an item's current status for quick recognition.</p>
            </div>

            <h2 class="component-example">Example of Badge on Avatar</h2>
            <p class="about-component">
                Badge on avatar can be used to show the online status of user.
            </p>

            <div class="component-display-container">
                <div class="badge-container">
                    <div class="avatar avatar-lg-size">
                        <img src="/images/avatar1.jpg" alt="avatar image">
                    </div>
                    <span class="status-badge status-online"></span>
                </div>

                <div class="badge-container">
                    <div class="avatar avatar-md-size">
                        <img src="/images/avatar1.jpg" alt="avatar image">
                    </div>
                    <span class="status-badge status-offline"></span>
                </div>

                <div class="badge-container">
                    <div class="avatar avatar-sml-size">
                        <img src="/images/avatar1.jpg" alt="avatar image">
                    </div>
                    <span class="status-badge status-online"></span>
                </div>

            </div>

            <div class="code-snippet-container">

                <iframe src="https://carbon.now.sh/embed/pjQ5haKFTJ8BAM6z0NxX"
                    style="border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <h2 class="component-example">Example of Badge on Icons</h2>
            <p class="about-component">
                Number badges can be used to show notification count.
            </p>

            <div class="component-display-container badge-icon-display">
                <div class="badge-container">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="badge-icon">5</span>
                </div>
                <div class="badge-container">
                    <i class="fas fa-envelope"></i>
                    <span class="badge-icon">6</span>
                </div>

                <div class="badge-container">
                    <i class="fas fa-bell"></i>
                    <span class="badge-icon">7</span>
                </div>

            </div>

            <div class="code-snippet-container">
                <iframe src="https://carbon.now.sh/embed/nr6RTLwPgGJiLJ9pOaWh"
                    style="border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>

            </div>
            <h2 class="component-example">Example of Badge with colors</h2>
            <p class="about-component">
                You can use badge with diffrent colors. To use badges add badge class. And to use diffrent colors add class bg-primary, bg-success, bg-danger and bg-warning.
            </p>

            <div class="component-display-container">
                <div class="badge bg-primary">
                    <span>Primary</span>
                </div>

                <div class="badge bg-secondary">
                    <span>Secondary</span>
                </div>
                <div class="badge bg-success">
                    <span>Success</span>

                </div>

                <div class="badge bg-danger">
                    <span>Danger</span>

                </div>

                <div class="badge bg-warning">
                    <span>Warning</span>

                </div>
            </div>

            <div class="code-snippet-container">
                <iframe src="https://carbon.now.sh/embed/3ldAlgDaiV9rIUCPr1y2"
                    style="border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <h2 class="component-example">Example of Text Badge</h2>
            <p class="about-component">
              We have two diffrent types of text badges. Badge with square edges and rounded edges.
            </p>

            <div class="component-display-container display-flex-column">
                <h2 class="badge-container">Example of Heading with Badge
                    <span class="badge bg-secondary">New</span>
                </h2>
                <h3 class="badge-container">Example of Heading with Badge <span class="badge bg-secondary">New</span>
                </h3>
                <h4 class="badge-container">Example of Heading with Badge <span class="badge bg-secondary round-pill-badge">New</span>
                </h4>
                <h5 class="badge-container">Example of Heading with Badge <span class="badge bg-primary">New</span>
                </h5>
                <h6 class="badge-container">Example of Heading with Badge <span class="badge bg-primary">New</span>
                </h6>
                <p class="badge-container">Example of Paragraph with Badge <span class="badge bg-primary round-pill-badge">New</span>
                </p>
            </div>

            <div class="code-snippet-container">
                <iframe src="https://carbon.now.sh/embed/8Py8IgMvp6zuSTRqoixE"
                    style="border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </section>
    </div>

    <script src="/Docsite-js/navigation.js"></script>
</body>

</html>