<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/budui.css">
    <title>Bud UI | Docs</title>
</head>
<body>
    <header class="header">
        <nav class="nav-bar">
            <div class="nav-left">
                <div class="nav-brand">
                    <span class="brand-title">Bud UI Documentation</span>
                </div>

            </div>
            <div class="nav-right">
                <ul class="list-non-bulit list">
                    <li class="list-item">
                        <a href="/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="list-item link-active">
                        <a href="#" class="nav-link">Docs</a>
                    </li>
                </ul>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <div class="doc-site-container">
        <aside class="sidebar">
            <h2 class="sidebar-title">Components</h2>
            <ul class="sidebar-item-links">
                <li class="sidebar-item-link ">
                    <a href="/Components/Avatar/avatar.html">Avatar</a>
                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Badge/badge.html">Badge</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Alert/alert.html">Alert</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Button/button.html">Button</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/card/card.html">Card</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Image-Component/image.html">Image</a>


                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Input/input.html">Input</a>

                </li>

                <li class="sidebar-item-link">
                    <a href="/Components/TextUtilities/textutilities.html">Text Utilities</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/List/list.html">Lists</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Modal/modal.html" class="current-item">Modal</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Rating/rating.html">Rating</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Grid/grid.html">Grid</a>

                </li>
                
                <li class="sidebar-item-link">
                    <a href="/Components/Toast/toast.html">Toast</a>

                </li>

                <li class="sidebar-item-link">
                    <a href="/Components/Navigation/navigation.html">Navigation</a>

                </li>
            </ul>
        </aside>

        <section class="component-container">
            <div class="intro">
                <h1 class="component-title">Modal</h1>
                <p class="title-intro">
                    A modal is a dialog box/popup window that is displayed on top of the current page. It gets closed only when closed button on modal is clicked.
                </p>
            </div>

            <h2 class="component-example">Example of Modal</h2>
            <p class="about-component">
                
            </p>

            <div class="component-display-container">
                <div class="modal shadow-box">

                    <sapn class="modal-close-btn">
                        <i class="fas fa-times"></i>

                    </sapn>
                    <div class="modal-text-container">
                        <h1 class="modal-title">Modal Title</h1>
                        <p class="modal-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim delectus, soluta eaque sunt corporis distinctio vero consectetur quidem. Velit cumque assumenda incidunt, fuga ea provident tenetur quis quisquam totam nesciunt.
                        </p>
                    </div>

                    <div class="modal-btns">
                        <button class="btn accept-btn">Accept</button>
                        <button class="btn decline-btn">Decline</button>
                    </div>
                </div>
            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/WQP2DxJZhr3XouETVQiq"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>
            <h2 class="component-example">Live Demo</h2>
            <p class="about-component">
                Click the below button to open modal. To close the pop-up, click on the decline button or close icon.
            </p>
            <div class="component-display-container">
                <!-- Button  to open the modal -->
                <button class="modal-click-btn btn btn-primary" id="example-modal-click-btn">
                    Click me
                </button>

            </div>
            
            <!-- Modal -->
            <div class="modal shadow-box hide" id="example-modal">

                <span class="modal-close-btn" id="example-modal-close-btn">
                    <i class="fas fa-times"></i>

                </span>
                <div class="modal-text-container">
                    <h1 class="modal-title">Modal Title</h1>
                    <p class="modal-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim delectus, soluta eaque sunt corporis distinctio vero consectetur quidem. Velit cumque assumenda incidunt, fuga ea provident tenetur quis quisquam totam nesciunt.
                    </p>
                </div>

                <div class="modal-btns">
                    <button class="btn accept-btn">Accept</button>
                    <button class="btn decline-btn" id="example-modal-decline">Decline</button>
                </div>
            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/8VPgeQjAif4VzReT1JrY"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            <h3 class="componet-example-sub-title">JavaScript</h3>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/anPDPoKQt7D7DgSKVJlU"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>
        </section>
    </div>

    <script src="/Components/Modal/modal.js"></script>
    <script src="/Docsite-js/navigation.js"></script>

</body>
</html>