<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/budui.css">
    <title>Bud UI | Docs</title>
</head>

<body>
    <header class="header">
        <nav class="nav-bar">
            <div class="nav-left">
                <div class="nav-brand">
                    <span class="brand-title">Bud UI Documentation</span>
                </div>

            </div>
            <div class="nav-right">
                <ul class="list-non-bulit list">
                    <li class="list-item">
                        <a href="/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="list-item link-active">
                        <a href="#" class="nav-link">Docs</a>
                    </li>
                </ul>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <div class="doc-site-container">
        <aside class="sidebar">
            <h2 class="sidebar-title">Components</h2>
            <ul class="sidebar-item-links">
                <li class="sidebar-item-link ">
                    <a href="/Components/Avatar/avatar.html">Avatar</a>
                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Badge/badge.html">Badge</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Alert/alert.html"  class="current-item">Alert</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Button/button.html">Button</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/card/card.html">Card</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Image-Component/image.html">Image</a>


                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Input/input.html">Input</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/TextUtilities/textutilities.html">Text Utilities</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/List/list.html">Lists</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Modal/modal.html">Modal</a>

                </li>
                <li class="sidebar-item-link">
                    <a href="/Components/Rating/rating.html">Rating</a>

                </li>

                <li class="sidebar-item-link">
                    <a href="/Components/Grid/grid.html">Grid</a>

                </li>

            </ul>
        </aside>

        <section class="component-container">
            <div class="intro">
                <h1 class="component-title">Alert</h1>
                <p class="title-intro">
                    Alert messages can be used to notify the user about something special: danger, success, information
                    or warning.
                </p>
            </div>
            <h2 class="component-example">Example of Alert without icons</h2>
            <p class="about-component">
                Alerts are available in 5 diffrent types- primary alert, secondary alert, success alert, danger alert, warning alert. Copy the below code and you are good to go.
            </p>

            <div class="component-display-container display-flex-column">
                <div class="alert alert-primary">
                    A simple primary alert
                </div>
                <div class="alert alert-secondary">
                    A simple secondary alert
                </div>
                <div class="alert alert-success">
                    A simple success alert
                </div>
                <div class="alert alert-danger">
                    A simple danger alert
                </div>
                <div class="alert alert-warning">
                    A simple warning alert
                </div>
            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/frIIY7DeS2V6iM8uexGz"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            <h2 class="component-example">Example of Alert with icons</h2>
            <p class="about-component">
                To use alert with icons. Copy the below code and you are good to go.
            </p>

            <div class="component-display-container display-flex-column">
               
                <div class="alert alert-success">
                    <span class="alert-icon">
                        <i class="fas fa-check-circle"></i>
                    </span>
                  
                    A simple success alert
                </div>
                <div class="alert alert-danger">
                    <span class="alert-icon">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                   
                    A simple danger alert
                </div>
                <div class="alert alert-warning">
                    <span class="alert-icon">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    A simple warning alert
                </div>
            </div>

            
            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/J9IrQYz5M1fLnUEE4860"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            <h2 class="component-example">Example of Alert with close button</h2>
            <p class="about-component">
                We can have cross icon to close the alert. Copy the below HTML and JS code and you are good to go.
            </p>

            <div class="component-display-container display-flex-column">
                <div class="alert alert-close alert-danger">
                    <span class="alert-icon">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                   
                    A simple danger alert
                    <span class="alert-close-button">
                        <i class="fas fa-times"></i>
                    </span>
                   
                </div>

            </div>

            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/mlddS9lSe9UFUcRDAs6p"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>
             <h3 class="componet-example-sub-title">JavaScript</h3>
            <div class="code-snippet-container">
                <iframe
                src="https://carbon.now.sh/embed/1rLb4GLnqksIdJDkQAsh"
                style="border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>


        </section>
    </div>
<script src="/Components/Alert/alert.js"></script>
<script src="/Docsite-js/navigation.js"></script>
</body>

</html>